.photo-slider {

  display:none;

  .slick-slide {
    img {
      position: relative;
      width:100%;
    }
  }

  &.slick-initialized {
    display:block;
    min-height:500px;
  }

  .slick-prev, .slick-next {
    position: absolute;
    top:50%;
    transform:translateY(-50%);
  }

}