.photo-slider {

  display:none;

  .slick-slide {
    img {
      position: relative;
      width:100%;
    }
  }

  &.slick-initialized {
    display:block;
    min-height:500px;
  }

  .slick-prev, .slick-next {

    position: absolute;
    top:50%;
    transform:translateY(-50%);
    font-size:0;
    line-height:0;
    display:block;
    width:20px;
    height:20px;
    padding:0;
    cursor:pointer;
    color:transparent;
    border:none;
    outline:none;
    background:transparent;

  }

}